<h2>Control Flow</h2>
<h3>IF</h3>

<!-- Nova Forma -->
@if(loadingData$ | async; as data){
<ul>
    @for(item of data; track item){
        <li>{{ item }}</li>
    }
</ul>
} @else {
    <p>Carregando...</p>
}

<!-- For sem IF  -->
@for(item of loadingData$ | async; track item){
    <li>{{ item }}</li>
}

<!-- Forma Antiga (precisa da importação do CommonModule) -->
<ng-container *ngIf="loadingData$ | async as data; else loading">
    <ul>
        <ng-container *ngFor="let item of data; trackBy: trackByFn">
            <li>{{ item }}</li>
        </ng-container>
    </ul>
</ng-container>
<ng-template #loading>
    <p>Carregando...</p>
</ng-template>