<h2>Control Flow</h2>
<h3>IF</h3>

<!-- Nova Forma -->
<ul>
    @for (item of itens; track item.name) {
        <li> {{item.name}} </li>
    } @empty {
        <li> Não contém valores </li>
    }
</ul>

<!-- Forma Antiga -->
 <ul>
    <ng-container *ngIf="itens.length === 0; else itensExist">
        <li> Não contém valores </li>
    </ng-container>

    <ng-template #itensExist>
        <ng-container *ngFor="let item of itens">
            <li> {{ item.name }} </li>
        </ng-container>
    </ng-template>
 </ul>