<h2>Template</h2>
<h3>Text Interplation</h3>
<p>
    {{ name }} - {{ age }} - {{ sum(1, 2) }}
</p>

<p>
    {{ age > 1 ? 'Teste' : 'Teste2' }}
</p>

<p>
    {{ test }}
</p>

<hr />
<h2>Property Binding</h2>
<button [disabled]="isDisabled">Button</button>
<img [src]="srcValue" [alt]="name" [title]="name" />

<hr />
<h2>Attribute Binding</h2>
<p [attr.title]="name" [attr.aria-label]="name"> {{ name }}</p>

<hr />
<h2>Class and Style Binding</h2>
<p [class.background-red]="age >= 33" [class.background-blue]="age < 33">
    {{ name }}
</p>
<p [style.text-decoration]="isTextDecoration">{{ age }}</p>